<a href="https://colab.research.google.com/github/Shiva-panda/assginments1/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing numbers from 1 to 5 using while loop
i=1
print("numbers from 1 to 5 is:")
while i<=5:
  print(i)
  i+=1

numbers from 1 to 5 is:
1
2
3
4
5

In [ ]:
#sum of  1 to 10 number using while loop
num1=1
sum=0
while num1<=10:
  sum=num1+sum
  num1+=1
print("the sum of the numbers from 1 to 10 is:",sum)

the sum of the numbers from 1 to 10 is: 55

In [ ]:
#program for calculating factorial of given integer using for loop
num=int(input("Enter a number:"))
factorial=1
if num>0:
 for i in range(1,num+1):#we can do it by recrssion
   factorial=factorial*i
 print("factorial of given number is:",factorial)
elif num==0:
 print("factorial of 0 is 1 ")
else:
  print("enter a valid number")

Enter a number:7
factorial of given number is: 5040

In [37]:
#counting number of vowels in given string using for loop
num=input("enter a string for which you want to count number of vowels:")
length=len(num)
coun=0
for i in range(length):
  if (num[i]=='A' or num[i]=='a' or num[i]=='E' or num[i]=='e' or num[i]=='I' or num[i]=='i' or num[i]=='O' or num[i]=='o' or num[i]=='U' or num[i]=='u'):
    coun+=1
print("the number of vowels in the given string is:",coun)

enter a string for which you want to count number of vowels:shiva
the number of vowels in the given string is: 2

In [40]:
#printing partten using for loop
row=5
for i in range(row):
  for j in range(row):
    if i>0 and i<row-1 and j>0 and j<row-1:  #the logic can be derived from matrix
     print(" ", end=' ')
    else:
      print("*",end=' ')
  print("\r")

* * * * *
*       *
*       *
*       *
* * * * *

In [10]:
#writing a multipliction table using  for loop
num=int(input("enter a number"))
num2=int(input("enter a number"))
for i in range(1,num):
  for j in range(num2):
    multipliction=i*j
    print(f'{i}*{j}={multipliction}')
    if j==num2-1:
      print("next table is :\r")
  '''ni="{0}*{1}={2}"
  print(ni.format(num,i,multipliction)) this can be done this method also'''

enter a number10
enter a number10
1*0=0
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
next table is :
2*0=0
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
next table is :
3*0=0
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
next table is :
4*0=0
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
next table is :
5*0=0
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
next table is :
6*0=0
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
next table is :
7*0=0
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
next table is :
8*0=0
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
next table is :
9*0=0
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
next table is :