<a href="https://colab.research.google.com/github/Shiva-panda/assginments1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#convert an integer to float-point number
num1=10
print("the converted float number =",float(num1))

the converted float number = 10.0

In [3]:
#converting flost to an integer
num1=10.0
print("the converted integer number =",int(num1))

the converted integer number = 10

In [4]:
#converting integer to string
num=65
string_value=str(num)
print("the converted string  =",string_value,type(string_value))

the converted string  = 65 <class 'str'>

In [6]:
#converting list to tuple
the_list=[2,4,6,8,'even numbers']
the_tuple=tuple(the_list)
print("The converted tuple =",the_tuple)

The converted tuple = (2, 4, 6, 8, 'even numbers')

In [7]:
#converting tuple to list
the_tuple=(2,4,6,8,'even numbers')
the_list=list(the_tuple)
print("The converted list =",the_list)

The converted list = [2, 4, 6, 8, 'even numbers']

In [8]:
#Decimal to binary conversion
num_as_decimal=10
print("The decimal number in binary form is:",bin(num_as_decimal))

The decimal number in binary form is: 0b1010

In [12]:
#Converting non zero value to bollean
non_zero_value=10
print("The boolean value for non zero number:",bool(non_zero_value))
#for zero value
zero_value=not 10
print("the boolean form of zero value or not of non zero value is:",zero_value)

The boolean value for non zero number: True
the boolean form of zero value or not of non zero value is: False