<a href="https://colab.research.google.com/github/Shiva-panda/assginments1/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program to print numbers from  1 to 10, but stop if the number is 5.
for i in range(1,10):
  if i==5:#this condition will going to stop when i will equal to 5
    break
  else:
    print(i)

1
2
3
4

In [2]:
#Program to iterate through a list and stop when encountering a specific element.
lis=[2,4,6,8,10]
for i in lis:
  if i==2**3: #here the list will stop when it encounter element 8 in the list insted of writing 8 directly i write it as expression
    break
  else:
    print(i)

2
4
6

In [4]:
#Program to skip printing even numbers from 1 to 10.
for i in range(1,11):
  if i%2==0:#this condition is going to skip the even number from 1  to 10
    continue
  print(i)

1
3
5
7
9

In [5]:
#program to print numbers from 0 to 9 using range().
for i in range(10):#i will start from 0 as index of python
  print(i," ")

1
2
3
4
5
6
7
8
9

In [34]:
#Program to print multiplication tables from 1 to 5, but stop after the first table is printed for each
number.
for i in range(1,11):
  for j in range(1,6):
    print(f"{j}*{i}={i*j}",end="\t")
  print()

1*1=1	2*1=2	3*1=3	4*1=4	5*1=5
1*2=2	2*2=4	3*2=6	4*2=8	5*2=10
1*3=3	2*3=6	3*3=9	4*3=12	5*3=15
1*4=4	2*4=8	3*4=12	4*4=16	5*4=20
1*5=5	2*5=10	3*5=15	4*5=20	5*5=25
1*6=6	2*6=12	3*6=18	4*6=24	5*6=30
1*7=7	2*7=14	3*7=21	4*7=28	5*7=35
1*8=8	2*8=16	3*8=24	4*8=32	5*8=40
1*9=9	2*9=18	3*9=27	4*9=36	5*9=45
1*10=10	2*10=20	3*10=30	4*10=40	5*10=50

In [36]:
#Program to skip printing even numbers using a while loop.
num=int(input("Enter a number up to which you want to skip even numbers "))
i=0
while i<num:
  if i%2==0:
    i+=1
    continue
  print(i)
  i+=1

Enter a number up to which you want to skip even numbers 20
1
3
5
7
9
11
13
15
17
19